.demo-chart {
    height: 500px;
}

.div-gigante {
    width: 85%;
    margin-left: 8%;
}

.div-chart2second{
  width: 87%;
  margin-left: 6%;
}

#div-inside-for-EventBinding {
  height: 10%;
  margin-top: 100px;
}
