.demo-chart {
    height: 500px;
}

.demo-chart2 {
  height: 200px;
}

.div-gigante {
    width: 85%;
    margin-left: 8%;
}

.div-chart2second{
  width: 87%;
  margin-left: 6%;
  margin-bottom: 0px;
  height: 10%;
}

#div-inside-for-EventBinding {
  margin-top: 0px;
  width: 100%;
  background-color: aliceblue;
}
